JetBrains/
.DS_Store
*.csproj
Library/
.idea/
*.sln
.vs/
Temp/
.upm/
Builds/
build/
obj/
*node_modules.meta
Assets/Resources/Data/local.properties.txt
Assets/Resources/Data/local.properties.txt.meta
*.DotSettings
*.user
./wupm
.env
.vscode
Logs/
Assets/PlayServicesResolver
Assembly-CSharp-Editor.csproj.DotSettings
../../turn-based/Assets/Firebase.meta
../../turn-based/Assets/Parse.meta
../../turn-based/Assets/PlayServicesResolver.meta
../../turn-based/Assets/Plugins.meta
../../turn-based/Assets/Standard Assets.meta
../../turn-based/Assets/Editor Default Resources/Firebase.meta
../../turn-based/Assets/Parse/Plugins.meta
../../turn-based/Assets/Plugins/Android.meta
../../turn-based/Assets/Plugins/iOS.meta
../../turn-based/Assets/Plugins/x86_64.meta
../../turn-based/Assets/Parse/Plugins/Unity.Compat.dll
../../turn-based/Assets/Parse/Plugins/Unity.Compat.dll.meta
../../turn-based/Assets/Parse/Plugins/Unity.Tasks.dll
../../turn-based/Assets/Parse/Plugins/Unity.Tasks.dll.meta
../../turn-based/Assets/Plugins/Android/Firebase.meta
../../turn-based/Assets/Plugins/iOS/Firebase.meta
../../turn-based/Assets/Plugins/x86_64/Firebase.meta
../../turn-based/Assets/Parse/Plugins/dotNet45.meta
../../turn-based/Assets/Plugins/Android/AndroidManifest.xml.meta
../../turn-based/Assets/Plugins/Android/libmessaging_unity_player_activity.jar
../../turn-based/Assets/Plugins/Android/libmessaging_unity_player_activity.jar.meta
../../turn-based/Assets/Parse/Plugins/dotNet45/Unity.Compat.dll
../../turn-based/Assets/Parse/Plugins/dotNet45/Unity.Compat.dll.meta
../../turn-based/Assets/Parse/Plugins/dotNet45/Unity.Tasks.dll
../../turn-based/Assets/Parse/Plugins/dotNet45/Unity.Tasks.dll.meta
../../turn-based/Assets/PlayServicesResolver/Editor.meta
../../turn-based/Assets/PlayServicesResolver/Editor/Google.IOSResolver_v1.2.120.0.dll
../../turn-based/Assets/PlayServicesResolver/Editor/Google.IOSResolver_v1.2.120.0.dll.meta
../../turn-based/Assets/PlayServicesResolver/Editor/Google.IOSResolver_v1.2.120.0.dll.mdb
../../turn-based/Assets/PlayServicesResolver/Editor/Google.IOSResolver_v1.2.120.0.dll.mdb.meta
../../turn-based/Assets/PlayServicesResolver/Editor/Google.JarResolver_v1.2.120.0.dll
../../turn-based/Assets/PlayServicesResolver/Editor/Google.JarResolver_v1.2.120.0.dll.meta
../../turn-based/Assets/PlayServicesResolver/Editor/Google.JarResolver_v1.2.120.0.dll.mdb
../../turn-based/Assets/PlayServicesResolver/Editor/Google.JarResolver_v1.2.120.0.dll.mdb.meta
../../turn-based/Assets/PlayServicesResolver/Editor/Google.VersionHandler.dll
../../turn-based/Assets/PlayServicesResolver/Editor/Google.VersionHandler.dll.meta
../../turn-based/Assets/PlayServicesResolver/Editor/Google.VersionHandler.dll.mdb
../../turn-based/Assets/PlayServicesResolver/Editor/Google.VersionHandler.dll.mdb.meta
../../turn-based/Assets/PlayServicesResolver/Editor/Google.VersionHandlerImpl_v1.2.120.0.dll
../../turn-based/Assets/PlayServicesResolver/Editor/Google.VersionHandlerImpl_v1.2.120.0.dll.meta
../../turn-based/Assets/PlayServicesResolver/Editor/Google.VersionHandlerImpl_v1.2.120.0.dll.mdb
../../turn-based/Assets/PlayServicesResolver/Editor/Google.VersionHandlerImpl_v1.2.120.0.dll.mdb.meta
../../turn-based/Assets/PlayServicesResolver/Editor/play-services-resolver_v1.2.120.0.txt
../../turn-based/Assets/PlayServicesResolver/Editor/play-services-resolver_v1.2.120.0.txt.meta
.vscode/settings.json
Assets/Plugins/Editor/JetBrains.meta
Assets/Plugins/Android/com.etermax.deeplink-listener.aar
Assets/Plugins/Android/com.etermax.deeplink-listener.aar.meta
Assets/Plugins/Android/fabric-multidex-application.aar
Assets/Plugins/Android/fabric-multidex-application.aar.meta
Assets/Fabric
Assets/Fabric.meta
Assets/Plugins/iOS/Fabric
Assets/Plugins/iOS/Fabric.meta
Assets/Plugins/x86_64.meta
Assets/Firebase/Plugins/link.xml
Assets/Firebase/Plugins/link.xml.meta
Assets/Plugins/Android/AndroidManifest.xml.meta
Assets/PlayServicesResolver/Editor/Google.IOSResolver_v1.2.120.0.dll
Assets/PlayServicesResolver/Editor/Google.IOSResolver_v1.2.120.0.dll.meta
Assets/PlayServicesResolver/Editor/Google.IOSResolver_v1.2.120.0.dll.mdb
Assets/PlayServicesResolver/Editor/Google.IOSResolver_v1.2.120.0.dll.mdb.meta
Assets/PlayServicesResolver/Editor/Google.JarResolver_v1.2.120.0.dll
Assets/PlayServicesResolver/Editor/Google.JarResolver_v1.2.120.0.dll.meta
Assets/PlayServicesResolver/Editor/Google.JarResolver_v1.2.120.0.dll.mdb
Assets/PlayServicesResolver/Editor/Google.JarResolver_v1.2.120.0.dll.mdb.meta
Assets/PlayServicesResolver/Editor/Google.VersionHandlerImpl_v1.2.120.0.dll
Assets/PlayServicesResolver/Editor/Google.VersionHandlerImpl_v1.2.120.0.dll.meta
Assets/PlayServicesResolver/Editor/Google.VersionHandlerImpl_v1.2.120.0.dll.mdb
Assets/PlayServicesResolver/Editor/Google.VersionHandlerImpl_v1.2.120.0.dll.mdb.meta
Assets/PlayServicesResolver/Editor/play-services-resolver_v1.2.120.0.txt
.gitlab-ci.local.yml
Assets/Amplitude
Assets/Amplitude.meta
Assets/Editor/java_helper.py
Assets/Editor/java_helper.py.meta
Assets/Editor/mod_pbxproj.pyc
Assets/Editor/mod_pbxproj.pyc.meta
Assets/Editor/objc_helper.pyc
Assets/Editor/objc_helper.pyc.meta
Assets/Editor/os_helper.pyc
Assets/Editor/os_helper.pyc.meta
Assets/Editor/PostprocessBuildPlayer
Assets/Editor/PostprocessBuildPlayer.meta
Assets/Editor/PostprocessBuildPlayer_Amplitude
Assets/Editor/PostprocessBuildPlayer_Amplitude.meta
Assets/Plugins/Android/amplitude-unity-2.16.0.jar
Assets/Plugins/Android/amplitude-unity-2.16.0.jar.meta
Assets/Plugins/iOS/Amplitude
Assets/Plugins/iOS/Amplitude.meta
Assets/Taggers
Assets/Taggers.meta
Assets/Plugins/Android/com.etermax.apprater.aar
Assets/Plugins/Android/com.etermax.apprater.aar.meta
Assets/Plugins/iOS/AppRate.h
Assets/Plugins/iOS/AppRate.h.meta
Assets/Plugins/iOS/AppRate.m
Assets/Plugins/iOS/AppRate.m.meta
Assets/Plugins/Android.meta
Assets/Plugins/Android/com.etermax.apprater-listener.aar
Assets/Plugins/Android/com.etermax.apprater-listener.aar.meta
Assets/Plugins/Android/com.etermax.deeplink.aar
Assets/Plugins/Android/com.etermax.deeplink.aar.meta
Assets/Plugins/iOS/Deeplink.h
Assets/Plugins/iOS/Deeplink.h.meta
Assets/Plugins/iOS/Deeplink.mm
Assets/Plugins/iOS/Deeplink.mm.meta
Assets/Plugins/iOS/DeeplinkAppDelegateListener.mm
Assets/Plugins/iOS/DeeplinkAppDelegateListener.mm.meta